.Titol{
    color: hotpink;
    background-color: black;
    font-family: "Back to the future 2002";
    font-size: 50px;
    margin: 40px;
}
.Menu{
    color: pink;
    background-color: black;
    font-size: 20px;
    font-family: "Back to the future 2002";
}
.links{
    color: lightpink;
    background-color: darkgrey;
    font-family: "Back to the future 2002";
    font-size: 13px;
}
.container-header-nav{
    display: flex;
    justify-content: center;
    alignment: center;
    flex-direction: row;
}
.banner{
    width: 50%;
    margin: 0 auto;
}
.series{
    width: 50%;
    margin: 0 auto;
    alignment: center;
}
h2{
    font-family: "Back to the future 2002";
    background-color: orange;
    width: 130px;
}
.tile-serie{
    font-family: "Courier New";
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
}
.img-serie{
    width: 70%;
    height: 40%;
    margin: 10px;
}
.dsc-serie{
    font-family: monospace;
    width: 80%;
    height: 60%;
    margin: 10px;
    font-weight: bold;

}
.serie1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightyellow;
    width: 33%;
    height: 500px;
}
.serie2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightpink;
    width: 33%;
    height: 500px;
}
.serie3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightyellow;
    width: 33%;
    height: 500px;
}
.menu-series{
    display: flex;
    flex-direction: row;
}
footer{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: beige;
}
.icons{
    background-color: white;
}