.Titol{
    color: hotpink;
    background-color: black;
    font-family: "Back to the future 2002";
    font-size: 50px;
    margin: 40px;
}
.Menu{
    color: pink;
    background-color: black;
    font-size: 20px;
    font-family: "Back to the future 2002";
}
.links{
    color: lightpink;
    background-color: darkgrey;
    font-family: "Back to the future 2002";
    font-size: 13px;
}
.container-header-nav{
    display: flex;
    justify-content: center;
    alignment: center;
    flex-direction: row;
}
footer{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: beige;
}
.icons{
    background-color: white;
}
h1{
    font-size: 80px;
    font-family: "Orange Juice";
}
h2{
    font-size: 40px;
    margin: 40px;
    font-family: "Orange Juice";
}
.principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    alignment: center;
}
.title-curiosity{
    font-family: "Arial Black";
    background-color: lightyellow;
    font-size: 30px;
    font-weight: bold;
}
.dsc-curiosity{
    font-family: Mistral;
    font-size: 30px;
    color: white;
}
.curiosity1{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.curiosity2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.curiosity3{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.imdb{
    display: flex;
    margin: 20px;
}
.estructure{
    display: flex;
    flex-direction: column;
}